.modal-body {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.modal-body .image-div {
  width: 100%;
}

.responsive {
  width: 100%;
  min-width: 100%;
  max-width: 400px;
  height: auto;
}
